{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une catégorie: {{ categorie.nomDeLaCategorie }}</h1>

    <div class="container-fluid">
        {{ form_start(edit_form) }}

        <div class="container">
            <div class="row">
                <p class="">Nom de la catégorie</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(edit_form.nomDeLaCategorie, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la catégorie'}}) }}
                    {{ form_errors(edit_form.nomDeLaCategorie) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="edit_admin">
                <input class="btn btn-default edit_admin"  type="submit" value="Modifier" />
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
