{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1 style="margin-bottom: 35px;">Page d'édition des Partenaires </h1>
    </div>
    {{ form_start(edit_form) }}
<div class="container">
    <div class="">
        <p class="policeecriture2">Télécharger l'image de votre partenaire</p>
        {{ form_widget(edit_form.file) }}
    </div>

    <div class="">
        <p class="policeecriture2">Ajouter le montant du don</p>
        {{ form_widget(edit_form.donation) }}
    </div>

    <div class="policeecrituretitre">
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editer le contenu" />
        {{ form_end(edit_form) }}
    </div>

    <div class="policeecrituretitre">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer le partenaire">
        {{ form_end(delete_form) }}
    </div>

    <div class="policeecrituretitre">
        <a href="{{ path('partenaire_index') }}">Back to the list</a>
    </div>
</div>

    
{% endblock %}
