{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un nouveau partenaire</h1>

    <div class="container-fluid">
        {{ form_start(form) }}

        <div class="container">
            <div class="row">
                <p class="">Nom</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Nom du partenaire'}}) }}
                    {{ form_errors(form.adresse) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Photo</p>
                <div class="input-group">
                    {{ form_widget(form.file, {'attr': {'class':'help-block'}}) }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Lien</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.lien, {'attr': {'class': 'form-control', 'placeholder': 'Lien'}}) }}
                    {{ form_errors(form.lien) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Donation</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.donation, {'attr': {'class': 'form-control', 'placeholder': 'Donation'}}) }}
                    {{ form_errors(form.donation) }}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="edit_admin">
            <input class="btn btn-default edit_admin"  type="submit" value="Ajouter" />
        </div>
    </div>

        {{ form_end(form) }}

{% endblock %}