{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <form action="{{ path('mobile_homepage') }}" method="post" name="perso">
                <label for="royaume">Selectionnez un royaume</label>
                <select id="royaume" name="royaume">
                    {% for mobile in mobileLists %}
                    <option value="{{ mobile.id }}">{{ mobile.artistess }}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
        </div>
        <div class="col-md-6 col-xs-12" id="div">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {

            var form = $('form[name="mobile"]');

//            $('form[name="perso"]').on('submit', function (){
            $(form).on('submit', function (event){
                event.preventDefault(); //permet de bloquer le chargement de page

                var data = new FormData(this);

                $.ajax({
                    method: 'post',
                    url: '{{ path('mobile_homepage') }}',
                    processData: false,
                    contentType: false,
                    data: data,

                    success: function (response) {

                        $('#div').html(response).hide().fadeIn(500, function () {
                            $(this).find('h1').css('color', 'red');
                        });

                    },
                    error: function () {

                        alert("HAHAHA !! vous n'avez pas dit le mot magic ... HAHAHA...")
                    }

                })

            })
        });

    </script>

{% endblock %}