<!DOCTYPE html>
<html>

<!-- Website made by Nicolas Capron && Pol Soyez -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Les jeux de dames{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% block stylesheets %}

            <!-- Appel CSS Boostrap -->
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/bootstrap-theme.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/font-awesome.css') }}"/>

            <!-- Font Google -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>

            <!-- Appel feuille de style -->
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/style.css') }}"/>

        {% endblock %}
    </head>

    <body>
        <header>
            <!-- ******** NAVBAR ******* -->
            <nav class="navbar navbar-default">
                <div class="container-fluid nav_custom">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('cms_homepage') }}">Jeux de Dames</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('user_artiste') }}">Artistes</a></li>
                            <li><a href="{{ path('user_partenaire') }}">Partenaires</a></li>
                            <li><a href="{{ path('user_commercant') }}">Commerçants</a></li>
                            <li><a href="{{ path('user_presse') }}">Presse</a></li>
                            <li><a href="{{ path('user_archive') }}">Archives</a></li>
                        </ul>
                    <div class="container, nav pull-right" >
                        <ul>
                            <li class="lilili"><a href="{{ path('cms_homepage', { '_locale': 'fr' }) }}"><img class="d" src=" {{ asset ('bundles/cms/images/frenchflag.jpg') }}"/></a></li>
                            <li class="lilili"><a href="{{ path('cms_homepage', { '_locale': 'en' }) }}"><img class="d" src=" {{ asset ('bundles/cms/images/spanishflag.jpg') }}"/></a></li>
                            <li class="lilili"><a href="{{ path('cms_homepage', { '_locale': 'es' }) }}"><img class="d" src=" {{ asset ('bundles/cms/images/englishflag.jpg') }}"/></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer>
            <!-- ******** FOOTER ******** -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 reseaux">
                    <h6>Vous pouvez nous retrouver</h6>
                    <h2>Sur nos différents réseaux sociaux</h2>
                    {#<button class="btn-green">Cliquez ici</button>#}
                </div>
            </div>
            <div class="row">
                <a href="#" class="icone_reseau"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/Jeux2dames/?fref=ts" class="icone_reseau"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>
                <a href="#" class="icone_reseau"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 reseaux">
                    <h5>Jeux de Dames</h5>
                </div>
            </div>
        </footer>

        {% block javascripts %}

            <!-- Appel Jquery -->
            <script src="{{ asset ('bundles/cms/js/jquery-3.0.0.min.js') }}"></script>
            <script src="{{ asset ('bundles/cms/js/jquery-2.0.0.min.js') }}"></script>

            <!-- Appel JavaScript Bootstrap -->
            <script src="{{ asset ('bundles/cms/js/bootstrap.min.js') }}"></script>

            <!-- Appel Javascript perso -->
            <script type="text/javascript" src="{{ asset('bundles/cms/js/main.js') }}"></script>

        {% endblock %}

    </body>
</html>
