<!DOCTYPE html>
<html>

<!-- Website made by Nicolas Capron && Pol Soyez -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Les jeux de dames{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% block stylesheets %}

            <!-- Appel CSS Boostrap -->
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/bootstrap-theme.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/font-awesome.css') }}"/>

            <!-- Font Google -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>

            <!-- Masonry -->
            <link rel="stylesheet" href="{{ asset('bundles/cms/css/masonry-docs.css') }}">

            <!-- Appel feuille de style -->
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/style.css') }}"/>

        {% endblock %}
    </head>

    <body>
        <div class="flashmsg_newsletter">
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-error">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success_reactivate') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success_reactivate') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <header>
            {% if langue_active is not defined %}
                {% set langue_active = false %}
            {% endif %}

            <nav class="navbar navbar-default">
                <div class="container-fluid nav_custom">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            {% if langue_active == true %}
                                <li class="drapeaux"><a href="{{ path('cms_homepage', { '_locale': 'fr' }) }}"><img src=" {{ asset ('bundles/cms/images/frenchflag.jpg') }}"/></a></li>
                                <li class="drapeaux"><a href="{{ path('cms_homepage', { '_locale': 'en' }) }}"><img src=" {{ asset ('bundles/cms/images/englishflag.jpg') }}"/></a></li>
                                {% if app.request.locale == 'en' %}
                                    <li><a href="{{ path('cms_homepage') }}">Homepage</a></li>
                                    <li><a href="{{ path('user_artiste') }}">Artists</a></li>
                                    <li><a href="{{ path('user_partenaire') }}">Partnaires </a></li>
                                    <li><a href="{{ path('user_commercant') }}">Traders</a></li>
                                    <li><a href="{{ path ('calendar_homepage') }}">Events</a></li>
                                    <li><a href="{{ path('user_presse') }}">News</a></li>
                                    <li><a href="{{ path('user_archive') }}">Records</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#contact">Contact</a></li>
                                {% else  %}
                                    <li><a href="{{ path('cms_homepage') }}">Accueil</a></li>
                                    <li><a href="{{ path('user_artiste') }}">Artistes</a></li>
                                    <li><a href="{{ path('user_partenaire') }}">Partenaires </a></li>
                                    <li><a href="{{ path('user_commercant') }}">Commerçants</a></li>
                                    <li><a href="{{ path ('calendar_homepage') }}">Evènements</a></li>
                                    <li><a href="{{ path('user_presse') }}">Presse</a></li>
                                    <li><a href="{{ path('user_archive') }}">Archives</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#contact">Contact</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{{ path('cms_homepage') }}">Accueil</a></li>
                                <li><a href="{{ path('user_artiste') }}">Artistes</a></li>
                                <li><a href="{{ path('user_partenaire') }}">Partenaires </a></li>
                                <li><a href="{{ path('user_commercant') }}">Commerçants</a></li>
                                <li><a href="{{ path ('calendar_homepage') }}">Evènements</a></li>
                                <li><a href="{{ path('user_presse') }}">Presse</a></li>
                                <li><a href="{{ path('user_archive') }}">Archives</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#contact">Contact</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer class="container-fluid">
            <!-- ******** FOOTER ******** -->
            <div class="col-md-4">
                <div class="row">
                    <p>Vous pouvez nous retrouver sur nos différents réseaux sociaux</p>
                </div>
                <div class="row">
                    <a href="#" class="icone_reseau"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/Jeux2dames/?fref=ts" class="icone_reseau"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="#" class="icone_reseau"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <p>S'abonner à la newsletter</p>
                </div>
                <div class="row">
                    <form action="{{ path('newsletter_adduser') }}" method="POST">
                        <input type="email" name="email" placeholder="Saisir l'adresse mail" required="required" />
                        <input style="display: none;" name="route" value="{{ app.request.attributes.get('_route') }}" />
                        <input class="news_input" type="submit" value="Valider" />
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <p>Mentions légales</p>
                </div>
                <div class="row">
                    <p>Association à but non lucratif, apolitique et non confessionnelle. N° W774005611</p>
                </div>
            </div>
        </footer>


        {# MODAL #}

        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="contact_modal modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nous contacter</h4>
                    </div>
                    <div class="modal-body">
                        <p>Email: </p><a href="mailto:lesjeuxdedames@gmail.com?subject=Renseignement">lesjeuxdedames@gmail.com</a>
                        <p>Téléphone: 06 84 76 20 58</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        {# MODAL #}

        {% block javascripts %}

            <!-- Appel Jquery -->
            <script src="{{ asset ('bundles/cms/js/jquery-3.0.0.min.js') }}"></script>
            <script src="{{ asset ('bundles/cms/js/jquery-2.0.0.min.js') }}"></script>

            <!-- Appel JavaScript Bootstrap -->
            <script src="{{ asset ('bundles/cms/js/bootstrap.min.js') }}"></script>

            <!-- Appel Javascript perso -->
            <script type="text/javascript" src="{{ asset('bundles/cms/js/main.js') }}"></script>

        {% endblock %}

    </body>
</html>
