<!DOCTYPE html>
<html>

<!-- Website made by Nicolas Capron && Pol Soyez -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Les jeux de dames{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/png" href="{{ asset('bundles/cms/images/logo_dames.png') }}" />

        {% block stylesheets %}

            <!-- Appel CSS Boostrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/font-awesome.css') }}"/>

            <!-- Font Google -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>

            <!-- Masonry -->
            <link rel="stylesheet" href="{{ asset('bundles/cms/css/masonry-docs.css') }}">

            <!-- Appel feuille de style -->
            <link rel="stylesheet" href="{{ asset ('bundles/cms/css/style.css') }}"/>

        {% endblock %}
    </head>

    <body>
        <div class="flashmsg_newsletter">
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-error">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success_reactivate') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success_reactivate') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid nav_custom">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed button_right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('cms_homepage') }}">
                            <img class="button_left" src="{{ asset('bundles/cms/images/logo_dames.png') }}" alt="logo jdd">
                        </a>
                        <h6>Les jeux de dames</h6>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{{ path('cms_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('user_artiste') }}">Artistes</a></li>
                            <li><a href="{{ path('user_commercant') }}">Commerçants</a></li>
                            <li><a href="{{ path('user_partenaire') }}">Partenaires </a></li>
                            <li><a href="{{ path ('calendar_homepage') }}">Evènements</a></li>
                            <li><a href="{{ path('user_presse') }}">Presse</a></li>
                            <li><a href="{{ path('user_archive') }}">Archives</a></li>
                            <li><a href="{{ path('user_apropos') }}">A propos</a></li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li><a href="{{ path('cms_admin') }}">Administration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <footer class="container-fluid">
            <!-- ******** FOOTER ******** -->
            <div class="col-md-1 logo_dame">
                <div class="row">
                    <a href="#"><img style="width:100%; float: left"  src="{{ asset('bundles/cms/images/logo_dames.png') }}" alt="logo jdd"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <p>Vous pouvez nous retrouver sur nos différents réseaux sociaux et sur mobile</p>
                </div>
                <div class="row second_line_footer">
                    <a href="http://instagram.com/jeuxdedames" class="icone_reseau"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/Jeux2dames/?fref=ts" target="_blank" class="icone_reseau"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCYziQlwA7z7Ou7a9ftRm-vw" target="_blank" class="icone_reseau"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                    <a href="{{ asset('mobilePubilc/downloads/android_@CibyxTechnology_lesjeuxdedames-BetaVersion-81f0fd29-21f0-11e8-a4a0-0a580a782718-signed.apk') }}" target="_blank" class="icone_reseau"><i class="fa fa-android fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <p>S'abonner à la newsletter</p>
                </div>
                <div class="row second_line_footer">
                    <form action="{{ path('newsletter_adduser') }}" method="POST">
                        <input type="email" name="email" placeholder="Saisir l'adresse mail" required="required" />
                        <input style="display: none;" name="route" value="{{ app.request.attributes.get('_route') }}" />
                        <input class="news_input" type="submit" value="Valider" />
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <p>Mentions légales</p>
                </div>
                <div class="row second_line_footer">
                    <p>Association à but non lucratif, apolitique et non confessionnelle. N° W774005611</p>
                </div>
            </div>
            <div class="col-md-1 logo_dame">
                <div class="row">
                    <a href="http://www.wildcodeschool.fr/"><img style="width:100%; float: left"  src="{{ asset('bundles/cms/images/logo_small_orange.png') }}" alt="logo jdd"></a>
                </div>
            </div>
        </footer>

        {% block javascripts %}

            {# GoogleAnalytics #}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-100338594-1', 'auto');
                ga('send', 'pageview');
            </script>

            <!-- Appel Jquery -->
            <script
                    src="https://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>            <!-- Appel JavaScript Bootstrap -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <!-- Appel Javascript perso -->
            <script type="text/javascript" src="{{ asset('bundles/cms/js/main.js') }}"></script>

        {% endblock %}

    </body>
</html>
