{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commercant list</h1>

    <table>
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commercant in commercants %}
            <tr>
                <td>{{ commercant.adresse }}</td>
                <td>{{ commercant.code }}</td>
                <td>{{ commercant.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commercant_edit', { 'id': commercant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commercant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
