{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer presse: {{ presse.nom }} </h1>
    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <p class="">Nom</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                {{ form_errors(edit_form.nom) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="">Article</p>
            <div class="input-group">
                {{ form_widget(edit_form.file) }}
                {{ form_errors(edit_form.file) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="">Description</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_widget(edit_form.texte, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                {{ form_errors(edit_form.texte) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="">Lien vers l'artiste</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_widget(edit_form.lien, {'attr': {'class': 'form-control', 'placeholder': 'Lien'}}) }}
                {{ form_errors(edit_form.lien) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="">Date de création</p>
            <div class="input-group">
                {{ form_widget(edit_form.date) }}
                {{ form_errors(edit_form.date) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="edit_admin">
            <input class="btn btn-default edit_admin"  type="submit" value="Create" />
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}