{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des évènements</h1>
    <div class="container">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <td>Nom</td>
                <td>Image</td>
                <td>Texte</td>
                <td>Lien</td>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for presse in presses %}
                <tr>
                    <td>{{ presse.nom }}</td>
                    <td><img style="width: 160px !important;" src="{{ asset('uploads/imgcms/') }}{{ presse.image }}" alt="{{ presse.image }}"></td>
                    <td>{{ presse.texte }}</td>
                    <td><a href="{{ presse.lien }}">WebSite</a></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('presse_edit', { 'id': presse.id }) }}">Modifier</a>
                            </li>
                            <li>
                                <a href="{{ path('presse_delete', { 'id': presse.id }) }}">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="edit_admin">
        <a class="btn btn-default edit_admin"  href="{{ path('calendar_homepage') }}">Retour au calendrier</a>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/French.json"
                }
            })
        });
    </script>
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}