{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(edit_form) }}

<div class="container">
    <div class="policeecrituretitre">
        <p class="policeecriture2">Titre de votre page</p>
        <p>    {{ form_widget(edit_form.titre) }}</p>
    </div>

</div>

        <p class="row">
            <h1 class="annonceaccueil">Cette partie administrative concerne la partie en 3 blocs</h1>
        </p>

<div class="container">
    <div class="col-md-4 col-sm-4 col-xs-6">
        <p class="policeecriture2">Premier titre
            {{ form_widget(edit_form.premiertitre) }}</p>
        <p class="policeecriture2">Paragraphe du premier Titre
        {{ form_widget(edit_form.premiercontenu) }}</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6  ">
        <p class="policeecriture2">Deuxieme Titre
            {{ form_widget(edit_form.deuxiemetitre) }}</p>
        <p class="policeecriture2">Paragraphe du deuxième Titre
            {{ form_widget(edit_form.deuxiemecontenu) }}</p>
    </div>


    <div class="col-md-4 col-sm-4 col-xs-6">
        <p class="policeecriture2">Troisième Titre
            {{ form_widget(edit_form.troisiemetitre) }}</p>
        <p class="policeecriture2">Paragraphe du troisième Titre
            {{ form_widget(edit_form.troisiemecontenu) }}</p>
    </div>
</div>

<div class="container">
        <p class="row">
            <h1 class="annonceaccueil">Cette partie administrative concerne la partie du bas avec le texte descriptif + l'image</h1>
        </p>
    <div class="col-md-6 col-sm-4 col-xs-6">
        <p class="policeecriture2">Texte descriptif en bas de votre page
            {{ form_widget(edit_form.contenu) }}</p>
    </div>

    <div class="col-md-6 col-sm-4 col-xs-6">
        <p class="policeecriture2">Image à côter du texte descriptif</p>
            {{ form_widget(edit_form.file) }}
    </div>
</div>

    <div class="modifieraccueil">
        <input type="submit" value="Modifier" />
            {{ form_end(edit_form) }}
    </div>

{% endblock %}
