{% extends 'baseadmin.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}
        <a href="{{ path('accueil_index') }}"><p class="policeecriture">Back to the list</p></a>
            <p class="policeecriture2">Titre</p>
            {{ form_widget(edit_form.titre) }}
            <p class="policeecriture2">Image</p>
            {{ form_widget(edit_form.file) }}
            <p class="policeecriture2">Contenu</p>
            {{ form_widget(edit_form.contenu) }}<br />
    
        <input type="submit" value="Modifier" />
        {{ form_end(edit_form) }}

{% endblock %}
