{% extends 'baseadmin.html.twig' %}

{% block body %}

    {{ form_start(edit_form) }}

    <a href="{{ path('accueil_index') }}"><p class="policeecriture">Back to the list</p></a>


    <p class="policeecriture2">Titre</p>
            {{ form_widget(edit_form.titre) }}


    <p class="policeecriture2">Image</p>
            {{ form_widget(edit_form.file) }}


    <p class="policeecriture2">Contenu</p>
            {{ form_widget(edit_form.contenu) }}<br />


    <input type="submit" value="Modifier" />
        {{ form_end(edit_form) }}

{#    <h1>Accueil edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('accueil_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
