{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accueil in accueils %}
            <tr>
                <td><a href="{{ path('accueil_show', { 'id': accueil.id }) }}">{{ accueil.id }}</a></td>
                <td>{{ accueil.titre }}</td>
                <td>{{ accueil.image }}</td>
                <td>{{ accueil.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accueil_edit', { 'id': accueil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
