{% extends 'base.html.twig' %}

{% block body %}
    <h1>Administration page d'accueil </h1>

    {{ form_start(form) }}

    <div class="container-fluid">

        {% for accueil in form.accueil %}
            {% if (accueil.vars.value.langue == 'fr') %}
                <div role="tabpanel" class="tab-pane active" id="home">
                    <h1>Langue: Français</h1>
                    <div class="container">
                        <div class="row">
                            <p class="">Titre</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.titre, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                                {{ form_errors(accueil.titre) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Premier Titre</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.premiertitre, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.premiertitre) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Premier Contenu</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.premiercontenu, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.premiercontenu) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Deuxieme Titre</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.deuxiemetitre, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.deuxiemetitre) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Deuxieme Contenu</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.deuxiemecontenu, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.deuxiemecontenu) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Troisième Titre</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.troisiemetitre, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.troisiemetitre) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Troisieme Contenu</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.troisiemecontenu, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.troisiemecontenu) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Contenu en face de l'image</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                {{ form_widget(accueil.contenu, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                                {{ form_errors(accueil.contenu) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Image en bas à droite de la page</p>
                            <div class="input-group">
                                {{ form_widget(accueil.file, {'attr': {'class': 'help-block'}}) }}
                                {{ form_errors(accueil.file) }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="">Activer l'anglais</p>
                            <div class="input-group">
                                {{ form_widget(accueil.langue_active) }}
                                {{ form_errors(accueil.langue_active) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <input type="submit" value="Create" />

    {{ form_end(form) }}

{% endblock %}