{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer vos évenements</h1>

    {{ form_start(edit_form) }}
<div class="container" style="margin-top: 50px;">
    <div class="container col-md-6 ">
        <div class="row">
            <div class="input-group">
                {{ form_label(edit_form.titre) }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_errors(edit_form.titre) }}
                {{ form_widget(edit_form.titre) }}
            </div>
        </div>
    </div>
    <div class="container col-md-6 ">
        <div class="row">
            <div class="input-group">
                {{ form_label(edit_form.contenu) }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_errors(edit_form.contenu) }}
                {{ form_widget(edit_form.contenu) }}
            </div>
        </div>
    </div>
    <div class="container col-md-6   ">
        <div class="row">
            <div class="input-group">
                {{ form_label(edit_form.start) }}
                {{ form_errors(edit_form.start) }}
                {{ form_widget(edit_form.start) }}
            </div>
        </div>
    </div>
    <div class="container col-md-6 ">
        <div class="row">
            <div class="input-group">
                {{ form_label(edit_form.end) }}
                {{ form_errors(edit_form.end) }}
                {{ form_widget(edit_form.end) }}
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row col-md-5 col-md-offset-5">
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editer votre contenu" />
    </div>
</div>



    {{ form_end(edit_form) }}
<div>
    <ul>
        <li>
            <a href="{{ path('events') }}">Back to the list</a>
        </li>
    </ul>
</div>

{% endblock %}
