<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Flux RSS</title>
    <subtitle>Latest New</subtitle>
    <link href="{{ url('index', {'_format': 'index'}) }}" rel="self"/>
    <link href="{{ url('FluxRSSBundle_homepage') }}"/>
    <updated>{{ lastUpdated }}</updated>
    <author><name>Flux RSS</name></author>
    <id>{{ feedId }}</id>

    <entry>
        <title>Titre Nouveautée</title>
        <link href="" />
        <id>Unique id</id>
        <updated></updated>
        <summary>Description de la nouveautée</summary>
        <author><name>Jeux de Dames</name></author>
    </entry>
</feed>
{% for category in categories %}
    {% for entity in category.activejobs %}
        <entry>
            <title>{{ entity.position }} ({{ entity.location }})</title>
            <link href="{{ url('Article_show', { 'id': entity.id, 'flux': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}" />
            <id>{{ entity.id }}</id>
            <updated>{{ entity.createdAt.format(constant('DATE_ATOM')) }}</updated>
            <summary type="xhtml">
                <div xmlns="http://www.w3.org/1999/xhtml">
                    {% if entity.logo %}
                        <div>
                            <a href="{{ entity.url }}">
                                <img src="http://{{ app.request.host }}/uploads/jobs/{{ entity.logo }}" alt="{{ entity.company }} logo" />
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        {{ entity.description|nl2br }}
                    </div>
                    <h4>How to apply?</h4>
                    <p>{{ entity.howtoapply }}</p>
                </div>
            </summary>
            <author><name>{{ entity.company }}</name></author>
        </entry>
        <div class="feed">
            <a href="{{ path('FluxRSSBundle_category', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
        </div>

        <!-- src/Ens/FluxRSSBundle/Resources/views/Category/show.html.twig -->
        <div class="feed">
            <a href="{{ path('FluxRSSBundle_category', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
        </div>
    {% endfor %}
{% endfor %}