{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="margin-bottom: 35px;">Page d'édition des Artistes</h1>
        {{ form_start(edit_form) }}
            <div class="policeecrituretitre">
                <p class="policeecriture2">Titre de l'image de votre Artiste</p>
                    {{ form_widget(edit_form.nom) }}
            </div>

    <div class="container row">
        <div class="col-md-3 col-sm-4 col-xs-6 ">
            <p class="policeecriture2">Ajouter votre Image</p>
                {{ form_widget(edit_form.file) }}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
            <p class="policeecriture2">Texte de votre image</p>
                {{ form_widget(edit_form.texte) }}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 ">
            <p class="policeecriture2">Ajout Slider</p>
                {{ form_widget(edit_form.ajouterslider) }}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
             <p class="policeecriture2">Ajout Archive</p>
                    {{ form_widget(edit_form.archive) }}
        </div>
    </div>

    <div class="policeecrituretitre">
        <p class="policeecriture2">Ajouter le lien vers votre artiste</p>
            {{ form_widget(edit_form.lien) }}
    </div>

    <div class="container">
        <div class="col-md-6 col-sm-4 col-xs-6 row ">
            {{ form_widget(edit_form) }}
                <input type="submit" value="Editer le contenu" />
                    {{ form_end(edit_form) }}
        </div>

        <div class="col-md-6 col-sm-4 col-xs-6 row ">
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer l'artiste">
                    {{ form_end(delete_form) }}
        </div>
    </div>


    <div class="row">
        <div class="policeecrituretitre">
            <a href="{{ path('artiste_index') }}">Retour à la liste</a>
        </div>
    </div>

{% endblock %}
