{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des artistes</h1>

    <div class="container">
        <div class="row">
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            <div class="edit_admin">
                <a class="btn btn-default edit_admin" href="{{ path('artiste_new') }}">Ajouter un nouvel artiste</a>
                <a class="btn btn-default edit_admin" href="{{ path('user_commercant') }}">Retour aux artistes</a>
            </div>
            {#{% endif %}#}
        </div>
        <div class="row">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Photos</th>
                    <th>Nom</th>
                    <th>Texte</th>
                    <th>Lien</th>
                    <th>Slider</th>
                    <th>Archive</th>
                    <th>Categorie</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for artiste in artistes %}
                    <tr>
                        <td><img style="width: 160px !important;" src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}" alt="{{ artiste.nom }}"></td>
                        <td>{{ artiste.nom }}</td>
                        <td>{{ artiste.texte }}</td>
                        <td><a href="{{ artiste.lien }}">WebSite</a></td>
                        <td>
                            {% if artiste.ajouterslider == true %}
                                <p>Oui</p>
                            {% else %}
                                <p>Non</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if artiste.archive == true %}
                                <p>Oui</p>
                            {% else %}
                                <p>Non</p>
                            {% endif %}
                        </td>
                        <td>{{ artiste.categorie }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">Editer</a>
                                </li>
                                <li>
                                    <a href="{{ path('commercant_delete', { 'id': artiste.id }) }}">Supprimer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}