{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artiste list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
                <td><a href="{{ path('artiste_show', { 'id': artiste.id }) }}">{{ artiste.id }}</a></td>
                <td>{{ artiste.nom }}</td>
                <td>{{ artiste.titre }}</td>
                <td>{{ artiste.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
