{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artiste creation </h1>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-3">
                    <p>nom :{{ form_widget(form.nom) }}</p>
                </div>
                <p>image :{{ form_widget(form.file) }}</p>
                <p>ajouter au slider :{{ form_widget(form.ajouterslider) }}</p>
                <p>lien :{{ form_widget(form.lien) }}</p>
                <p>texte :{{ form_widget(form.texte) }}</p>
                <p>archive :{{ form_widget(form.archive) }}</p>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}

    <input type="submit" value="Créer" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('artiste_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
