{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'un nouvel artiste</h1>
    {{ form_start(form) }}

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <p class="">Nom</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Photo de l'oeuvre</p>
                <div class="input-group">
                    {{ form_widget(form.file, {'attr': {'class': 'help-block'}}) }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Catégorie</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control', 'placeholder': 'Lien'}}) }}
                    {{ form_errors(form.categorie) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p class="">Lien vers l'artiste</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(form.lien, {'attr': {'class': 'form-control', 'placeholder': 'Lien'}}) }}
                    {{ form_errors(form.lien) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.ajouterslider) }} Ajouter au slider
                    </label>
                    {{ form_errors(form.ajouterslider) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.archive) }} Ajouter aux archives
                    </label>
                    {{ form_errors(form.archive) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="edit_admin">
            <input class="btn btn-default edit_admin"  type="submit" value="Ajouter" />
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}