{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mobilelists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mobileList in mobileLists %}
            <tr>
                <td><a href="{{ path('mobilelist_show', { 'id': mobileList.id }) }}">{{ mobileList.id }}</a></td>
                <td>{% if mobileList.dateDebut %}{{ mobileList.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if mobileList.dateFin %}{{ mobileList.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mobilelist_show', { 'id': mobileList.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mobilelist_edit', { 'id': mobileList.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mobilelist_new') }}">Create a new mobileList</a>
        </li>
    </ul>
{% endblock %}
