{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .contentApropos p{
            font-size: 20px !important;
        }
    </style>

    <div class="container-fluid block_apropos">
        <div class="row">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('admin_equipe_new') }}">Ajouter un membre</a>
                    <a class="btn btn-default edit_admin" href="{{ path('admin_equipe_index') }}">Gérer les membres</a>
                    <a class="btn btn-default edit_admin" href="{{ path('admin_apropos_edit', { 'id': apropos.id }) }}">Editer la page</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 title_section">
                <h2>A propos</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Introduction</h3>
            </div>
            <div class="row contentApropos">
                {{ apropos.introduction|raw }}
            </div>
            <div class="row">
                <h3>Notre equipe</h3>
            </div>
            <div class="row">
                {% set i = 0 %}
                <div class="card_web">
                    {% for membre in equipe %}
                        {% if i == 0 %}
                            <div class="row row_cards">
                        {% endif %}
                        <div class="col-xs-3">
                            <div class="card">
                                <img style="width:100%" src="{{ asset('uploads/img_equipe/' ~ membre.imageUrl) }}" alt="{{ membre.imageAlt }}">
                                <div class="info">
                                    <p><span><b>{{ membre.nom }} {{ membre.prenom }}</b></span></p>
                                    <p>Rôle : {{ membre.role }}</p>
                                    {% if membre.showTel == 1 %}
                                        <p>Téléphone : 0{{ membre.telephone }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <div class="row">
                                    <div class="edit_admin">
                                        <a class="btn btn-default edit_admin" href="{{ path('admin_equipe_edit', { 'id': membre.id }) }}">Editer</a>
                                        <a class="btn btn-default edit_admin confirmModalLink" href="{{ path('admin_equipe_delete', {'id':  membre.id  }) }}" title="Supprimer">Supprimer</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% set i = i + 1 %}
                        {% if i == 4 %}
                            </div>
                            {% set i = 0 %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="card_responsive">
                    {% for membre in equipe %}
                        <div class="col-xs-12">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img style="width:100%" src="{{ asset('uploads/img_equipe/' ~ membre.imageUrl) }}" alt="{{ membre.imageAlt }}">
                                </div>
                                <div class="card-stacked">
                                    <p><span><b>{{ membre.nom }} {{ membre.prenom }}</b></span></p>
                                    <p>Rôle: {{ membre.role }}</p>
                                    {% if membre.showTel == 1 %}
                                        <p>Téléphone: 0{{ membre.telephone }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <h3>Nous contacter</h3>
            </div>
            <div class="row form_contact">
                <form action="{{ path('cms_contact') }}" method="post">
                    <div class="form-group">
                        <label for="nom">Votre nom:</label>
                        <input id="nom" type="text" class="form-control" name="nom">
                    </div>
                    <div class="form-group">
                        <label for="email">Votre email:</label>
                        <input id="email" type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="sujet">Sujet:</label>
                        <input id="sujet" type="text" class="form-control" name="sujet">
                    </div>
                    <div class="form-group">
                        <label for="message">Votre message:</label>
                        <textarea class="form-control" rows="3" placeholder="Votre message" name="message"></textarea>
                    </div>
                    <div class="edit_admin">
                        <input class="btn btn-default edit_admin" type="submit" value="Envoyer" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function(){
            var contentClassSelected = 'contentApropos';
            var nbElement = $(".contentApropos > p").length;

            showTexteApropos(nbElement, contentClassSelected);

            function showTexteApropos(nbElement, contentClassSelected) {
                var ellipsestext = "  ....";
                var nbShowElement = Math.round(nbElement / 4);
                var moretext = "Lire la suite";
                var lesstext = "Masquer";

                if (nbElement > 4){
                    var showElements = $('.' + contentClassSelected + '> p:nth-child(-n+' + nbShowElement + ')');
                    var showElementsLenght = showElements.length;

                    var hideElements = $('.' + contentClassSelected + '> p:nth-child(n+' + (nbShowElement + 1) + ')');
                    var showContent = '';
                    var hideContent = '';

                    showElements.each(function(index){
                        var classDivP = $(this).attr('class');
                        if (index == showElementsLenght -1){
                            showContent += "<p class='" + classDivP + "'>" + $(this).html() + "<span class='moreellipses'>" + ellipsestext+ "&nbsp;</span></p>";
                        }
                        else{
                            showContent += "<p class='" + classDivP + "'>" + $(this).html() + "</p>";
                        }
                    });

                    hideElements.each(function(){
                        var classDivP = $(this).attr('class');
                        hideContent += "<p class='" + classDivP + "'>" + $(this).html() + "</p>";
                    });

                    var html =
                        showContent +
                        '<span class="morecontent">' +
                            '<span>' + hideContent + '</span>&nbsp;&nbsp;' +
                            '<a href="" class="morelink text-center">' + moretext + '</a>' +
                        '</span>';
                    $('.' + contentClassSelected).html(html);
                }

                $(".morelink").click(function(e){
                    e.preventDefault();
                    if($(this).hasClass("less")) {
                        $(this).removeClass("less");
                        $(this).html(moretext);
                        $('.moreellipses').show();
                        $('.morecontent span').slideToggle('medium', function(){
                            if ($(this).is(':visible')){
                                $(this).css('display', 'initial');
                            }
                        })
                    } else {
                        $(this).addClass("less");
                        $(this).html(lesstext);
                        $('.morecontent span').slideToggle('medium', function(){
                            if ($(this).is(':visible')){
                                $(this).css('display', 'initial');
                            }
                        })
                        $('.moreellipses').hide();
                    }
                });
            }
        });
    </script>

{% endblock %}
