{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        footer{
            width: 100%;
            bottom: 0px;
        }
    </style>
{% endblock %}

{% block body %}
    {% if artistes != null %}
        <div class="title_section">
            <h1>Archive</h1>
        </div>
        <h6 style="text-align: center;">Cliquez sur une catégorie pour visualiser les artistes correspondant</h6>

        {% for artiste in artistes %}
            <div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
                <div class=" panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ artiste.categorie }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ artiste.categorie }}
                            </a>
                        </h4>
                    </div>
                    {% if artiste.categorie %}
                        <div id="{{ artiste.categorie }}" class="panel-collapse collapse in, row" role="tabpanel" aria-labelledby="headingOne">
                            <div class="col-md-3 col-sm-4 col-xs-6 artistepage">
                                <figure class="snip1239">
                                    <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}"/>
                                    <figcaption>
                                        <h3 class="editartiste2">{{ artiste.nom }}</h3>
                                        <p class="editartiste2">{{ artiste.categorie }}</p>
                                        {% if (artiste.lien != null) %}
                                            <a href="{{ artiste.lien | external_link }}" target="_blank" class="read-more">En savoir plus</a>
                                        {% endif %}
                                    </figcaption>
                                </figure>
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                    <div class="row">
                                        <div class="edit_admin">
                                            <a class="btn btn-default edit_admin" href="{{ path('artiste_edit', { 'id': artiste.id }) }}">Editer</a>
                                            <a class="btn btn-default edit_admin confirmModalLink" href="{{ path('artiste_delete', {'id':  artiste.Id  }) }}" title="Supprimer">Supprimer</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="title_section">
            <h1>Il n'y a pas d'artiste dans les archives</h1>
        </div>
    {% endif %}
{% endblock %}