{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            {% for year in years %}
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ year }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ year }}
                        </a>
                    </h4>
                </div>
                {% for artiste in artistes %}
                    {% if artiste.date|date("Y") == year %} }
                        <div id="{{ year }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="col-md-3 col-sm-4 col-xs-6 artistepage">
                                <figure class="snip1239">
                                    <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}"/>
                                    <figcaption>
                                        <h3 class="editartiste2">{{ artiste.nom }}</h3>
                                        <p class="editartiste2">{{ artiste.texte }}</p>
                                        <a href="{{ artiste.lien }}" class="read-more">Read More</a>
                                    </figcaption>
                                </figure>
                                <p class="editartiste"><a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">Editer</a></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}