{% extends 'base.html.twig' %}
{% block body %}
    {% for artiste in artistes %}
           <div class="container-fluid">
               <div class="col-md-4 artistepage">
                   <p class="ecritureartiste" style="margin-right: 53px;">{{ artiste.nom }}{{ artiste.titre }}</p>
                   <a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">edit</a>
                   <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}" >
                </div>
            </div>
    {% endfor %}
{% endblock %}