{% extends 'base.html.twig' %}
{% block body %}
    <div class="partenaires">
        {% for artiste in artistes %}
           <div class="col-md-3 col-md-offset-1 col-md-3 col-md-offset-1 col-md-3 artistepage">
               <p class="ecritureartiste">{{ artiste.nom }}{{ artiste.titre }}</p>
               <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}" >
               <p><a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">edit</a></p>

           </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{{ path('artiste_new') }}">Create a new entry</a>
    </div>
{% endblock %}
