{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid block_artiste">
        <div class="row">
            {% for artiste in artistes %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="row">
                        <figure class="snip1239">
                            <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}"/>
                            <figcaption>
                                <h3>{{ artiste.nom }}</h3>
                                <p>{{ artiste.texte }}</p>
                                <a href="{{ artiste.lien }}" class="read-more">An savoir plus</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="row">
                        <div class="edit_admin">
                            <a class="btn btn-default edit_admin" href="{{ path('artiste_edit', { 'id': artiste.id }) }}">Editer</a>
                            <a class="btn btn-default edit_admin confirmModalLink" href="{{ path('artiste_delete', {'id':  artiste.Id  }) }}" title="Supprimer">Supprimer</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            <div class="edit_admin">
                <a class="btn btn-default edit_admin" href="{{ path('artiste_new') }}">Ajouter un nouvel artiste</a>
            </div>
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}