{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid block_artiste">
        <div class="title_section">
            <h2>Artistes</h2>
        </div>
        <div class="row">
            {% for artiste in artistes %}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="row">
                        <figure class="snip1239">
                            <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}"/>
                            <figcaption>
                                <h4>{{ artiste.nom }}</h4>
                                <p>{{ artiste.categorie }}</p>
                                {% if (artiste.lien != null) %}
                                <a href="{{ artiste.lien | external_link }}" target="_blank" class="read-more">En savoir plus</a>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </div>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <div class="row">
                            <div class="edit_admin">
                                <a class="btn btn-default edit_admin" href="{{ path('artiste_edit', { 'id': artiste.id }) }}">Editer</a>
                                <a class="btn btn-default edit_admin confirmModalLink" href="{{ path('artiste_delete', {'id':  artiste.Id  }) }}" title="Supprimer">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('artiste_new') }}">Ajouter un nouvel artiste</a>
                </div>
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('categorie_new') }}">Ajouter une nouvelle catégorie</a>
                    <a class="btn btn-default edit_admin" href="{{ path('categorie_index') }}">Administrer les catégories</a>
                </div>
            {% endif %}
        </div>
    </div>
    {#   MODAL   #}
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet artiste ?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" id="confirmModalNo" name="non" value="Non">
                    <input type="button" class="btn" id="confirmModalYes" name="oui" value="Oui">
                </div>
            </div>
        </div>
    </div>
    {#   MODAL   #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        $(document).ready(function () {
            var theHREF;
            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#confirmModal").modal("show");
            });
            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("hide");
            });
            $("#confirmModalYes").click(function(e) {
                window.location.href = theHREF;
            });
        });

    </script>
{% endblock %}