{% extends 'base.html.twig' %}

{% block body %}

    <div id="map"></div>

    <div class="row">
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <div class="edit_admin">
                <a class="btn btn-default edit_admin" href="{{ path('commercant_new') }}">Ajouter un nouveau commerçant</a>
                <a class="btn btn-default edit_admin" href="{{ path('commercant_index') }}">Administrer les commerçants</a>
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        var geocoder;
        var map;

        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.408, lng: 2.699 },
                zoom: 13
            });
            codeAddress();
        }

       // function initialize() {

        function codeAddress() {
            {% for commercant in commercants %}
                var address = '{{ commercant.adresse }} {{ commercant.code }} {{ commercant.ville }}';
                    geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location});

                            var description =
                                '<div><img class="imagecommercant" src="{{ asset('uploads/imgcms/') }}{{ commercant.image }}"/></div>'+
                                '<div><h3>{{ commercant.nom }}</h3></div>'+
                                '<div><p>{{ commercant.adresse }}</p></div>'+
                                '<div><p>{{ commercant.code }}</p></div>'+
                                '<div><p>{{ commercant.ville }}</p></div>'+
                                '<div>' +
                                    '<a class="btn btn-default edit_admin" href="{{ path('commercant_edit', { 'id': commercant.id }) }}">Editer</a>'+
                                    '<a class="btn btn-default edit_admin confirmModalLink" href="{{ path('commercant_delete', {'id':  commercant.id  }) }}" title="Supprimer">Supprimer</a>'+
                                '</div>';

                            attachDescription(marker, description);
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            {% endfor %}

        }


        function attachDescription(marker, description) {

            var infowindow = new google.maps.InfoWindow({
                content: description
            });

            marker.addListener('click', function() {
                infowindow.open(marker.get('map'), marker);
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa232Ch8q6OuI0qAkNV4s36dSJKSCaswc&callback=initMap" async defer></script>

{% endblock %}
