{% extends 'base.html.twig' %}

{% block body %}

    <div id="map"></div>

    <div class="row">
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <div class="edit_admin">
                <a class="btn btn-default edit_admin" href="{{ path('commercant_new') }}">Ajouter un nouveau commerçant</a>
                <a class="btn btn-default edit_admin" href="{{ path('commercant_index') }}">Administrer les commerçants</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.407711, lng: 2.700231 },
                zoom: 15
            });
            codeAddress();
}
       // function initialize() {

        function codeAddress() {
            var imageMarqueur = {
                url: "{{ asset('bundles/cms/images/MapMarker_PushPin1__Azure.png') }}",
                size: new google.maps.Size(25, 40),
                anchor: new google.maps.Point(0, 20)
            };
            {% for commercant in commercants %}
                var lat = {{ commercant.lat }};
                var lng = {{ commercant.lng }};

                var marker = new google.maps.Marker({
                    map: map,
                    icon: imageMarqueur,
                    position: {lat: lat, lng: lng }
                });

                var description =
                        '<div id="iw_container">'+
                            '<div class="iw_title">{{ commercant.nom }}</div>'+
                            '<div class="iw_content">'+
                                '<p>{{ commercant.adresse }}</p>'+
                                '<a href="{{ commercant.lien | external_link }}" target="_blank" class="read-more">En savoir plus</a>'+
                             '</div>'+
                        '</div>';

                attachDescription(marker, description);


            {% endfor %}

        }


        function attachDescription(marker, description) {

            var infowindow = new google.maps.InfoWindow({
                content: description,
            });

//            marker.addListener('click', function() {
//                infowindow.open(marker.get('map'), marker);
//            });

            // procedure to show the Info Window using a click on the marker
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker); // map and marker are the variables defined previously
            });

            // event to close the infowindow with a click on the map
            google.maps.event.addListener(map, 'click', function() {
                infowindow.close();
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa232Ch8q6OuI0qAkNV4s36dSJKSCaswc&callback=initMap" async defer></script>

{% endblock %}
