{% extends 'base.html.twig' %}

{% block body %}

    <div id="map"></div>



{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        var geocoder;
        var map;


        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.408, lng: 2.699 },
                zoom: 6
            });
            codeAddress();
        }

       // function initialize() {

        function codeAddress() {
            var image = {
                url: 'http://www.signegeneve.ch/wp-content/themes/parallelus-salutation/assets/images/gmap-marker.png'
                // This marker is 20 pixels wide by 32 pixels high.
            };
            var image2 = {
                url: 'http://maps.google.com/mapfiles/marker_yellow.png'
                // This marker is 20 pixels wide by 32 pixels high.
            };
            {% for commercant in commercants %}
                var address = '{{ commercant.adresse }} {{ commercant.code }} {{ commercant.ville }}';
                    geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location,
                        {% if commercant.code == 77300 %}
                            icon: image,
                        {% else %}
                            icon: image2,
                        {% endif %}
                        });

                        var description =
                                '<div><p>{{ commercant.adresse }}</p></div>'+
                                '<div><p>{{ commercant.ville }}</p></div>'+
                                '<div><p>{{ commercant.code }}</p></div>';

                        attachDescription(marker, description);
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            {% endfor %}

        }


        function attachDescription(marker, description) {

            var infowindow = new google.maps.InfoWindow({
                content: description
            });

            marker.addListener('click', function() {
                infowindow.open(marker.get('map'), marker);
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa232Ch8q6OuI0qAkNV4s36dSJKSCaswc&callback=initMap" async defer></script>

{% endblock %}
