{% extends 'base.html.twig' %}

{% block body %}
<!-- ******** CAROUSSEL ******** -->
<div id="h">
    <div class="section">
        <div class="col-md-12 artistes">
            {% for accueil in accueils %}
            <h1>{{ accueil.titre }}</h1>
            {% endfor %}
            <figure>
                <marquee behavior="scroll"  direction="left" height="200"
                         width="auto" scrollamount="2" scrolldelay="18" truespeed="true">

                    {% for artiste in artistes %}
                        {% if artiste.ajouterslider == true %}
                            <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}">
                        {% endif %}
                    {% endfor %}
                </marquee>
            </figure>
        </div>
    </div>
</div>

<!-- ******** TEXTE PRESENTATION ******** -->

<div id="g">
    <div class="container">
        <div class="section presentation">
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                <h4>{{ accueil.premiertitre }}</h4>
                <p>{{ accueil.premiercontenu }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                    <h4>{{ accueil.deuxiemetitre }}</h4>
                    <p>{{ accueil.deuxiemecontenu }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                    <h4>{{ accueil.troisiemetitre }}</h4>
                    <p>{{ accueil.troisiemecontenu }}</p>
                {% endfor %}
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div>

<!-- ******** NOTRE EQUIPE ******** -->

<div class="container">
    <div class="row-equipes">
        <div class="col-md-5">
            {% for accueil in accueils %}
            <p class="p-equipe">{{ accueil.contenu }}</p>
            {% endfor %}
        </div>
        <div class="flotte">
            {% for accueil in accueils %}
            <img class="flotte" src="{{ asset('uploads/imgcms/') }}{{ accueil.image }}">
            <p><a href="{{ path('accueil_edit', { 'id': accueil.id }) }}">editez la page</a></p>
            {% endfor %}
        </div>
    </div><!--/row -->
</div>

<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
</div>



<!-- ******** APPEL AU MENU DEROULANT ******** -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}