{% extends 'base.html.twig' %}

{% block body %}
<!-- ******** CAROUSSEL ******** -->
<div id="h">
    <div class="section">
        <div class="col-md-12 artistes">
            {% for accueil in accueils %}
            <h1>{{ accueil.titre }}</h1>
            {% endfor %}
            <figure>
                <marquee behavior="scroll"  direction="left" height="200"
                         width="auto" scrollamount="2" scrolldelay="18" truespeed="true">
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AgnesBleicher.jpeg') }}" border="0" />
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AlexandraKraif.png') }}"border="0" />
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AlyaFobis.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AnneBiro.jpeg') }}" border="0"/>
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AnneBour.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CarinaBarone.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CarolineManiere.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CelineParmentier.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CatherineRoze.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/ChantalBir.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/ClaireNicolle.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CecileLambertAbadir.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CorineDelaporte.png') }}" border="0" /></a>
                </marquee>
            </figure>
        </div>
    </div>
</div>

<!-- ******** TEXTE PRESENTATION ******** -->

<div id="g">
    <div class="container">
        <div class="section presentation">
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                <h4>{{ accueil.premiertitre }}</h4>
                <p>{{ accueil.premiercontenu }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                    <h4>{{ accueil.deuxiemetitre }}</h4>
                    <p>{{ accueil.deuxiemecontenu }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 colonne">
                {% for accueil in accueils %}
                    <h4>{{ accueil.troisiemetitre }}</h4>
                    <p>{{ accueil.troisiemecontenu }}</p>
                {% endfor %}
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div>

<!-- ******** NOTRE EQUIPE ******** -->

<div class="container">
    <div class="row-equipes">
        <div class="col-md-5">
            <h1 class="title-equipe">Notre équipe</h1>
            <p class="p-equipe">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
            <p class="p-equipe">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        </div>

        <div class="col-md-7">
            <img class="img-responsive" src="{{ asset('bundles/cms/images/logo.png') }}" width="350">
        </div>
    </div><!--/row -->
</div>

<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
</div>



<!-- ******** APPEL AU MENU DEROULANT ******** -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}