{% extends 'base.html.twig' %}

{% block body %}
<!-- ******** CAROUSSEL ******** -->
<body>
<div id="h">
    <div class="section">
        <div class="col-md-12 artistes">
            <h1>Découvrez toutes nos artistes</h1>
            <figure>
                <marquee behavior="scroll"  direction="left" height="200"
                         width="auto" scrollamount="2" scrolldelay="18" truespeed="true">
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AgnesBleicher.jpeg') }}" border="0" />
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AlexandraKraif.png') }}"border="0" />
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AlyaFobis.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AnneBiro.jpeg') }}" border="0"/>
                    </a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/AnneBour.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CarinaBarone.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CarolineManiere.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CelineParmentier.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CatherineRoze.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/ChantalBir.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/ClaireNicolle.jpeg') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CecileLambertAbadir.png') }}" border="0" /></a>
                    <a href="http://lien-de-l-image.html">
                        <img height="150" width="200" src="{{ asset ('bundles/cms/images/CorineDelaporte.png') }}" border="0" /></a>
                </marquee>
            </figure>
        </div>
    </div>
</div>

<!-- ******** TEXTE PRESENTATION ******** -->

<div id="g">
    <div class="container">
        <div class="section presentation">
            <div class="col-md-4 colonne">
                <h4>Présentation</h4>
                <p>« Les Jeux de Dames » est une association bellifontaine créée en janvier 2015, pour animer Fontainebleau lors de la Journée internationale de la Femme, avec les femmes artistes et artisans créatrices de Seine et Marne et le soutien des commerçants. Ensemble, Artistes et Commerçants imaginent une nouvelle « mise en scène ».
                    Les œuvres d’art exposées dans les vitrines vont créer un lien, une communication… le début d’une histoire entre le commerçant, l’artiste, et le passant.</p>
            </div>
            <div class="col-md-4 colonne">
                <h4>du concept</h4>
                <p>
                    Avec ce projet, Jeux de Dames propose l’Art à disposition de chacun, au regard de tous, dans la rue, ainsi que quelques expositions ou animations artistiques différentes à découvrir lors de cette manifestation. Plus d’une centaine d’artistes femmes exposent à Fontainebleau.Des hôtels, Le Victoria, l’hôtel de Londres, le Napoléon ou la Demeure du Parc vous invitent à visiter des expositions d’artistes choisies tout le long de la semaine. Un marché des Artisans-créatrices sur la place Napoléon et à L’aigle Noir.</p>
            </div>
            <div class="col-md-4 colonne">
                <h4>Jeux de Dames</h4>
                <p>
                    Ce salon propose des animations des étudiants de BTS (Assistant Manager) du Lycée Uruguay France et de l’IUT de Fontainebleau « Unité Commerciale ». Un concert est proposé par l’association « Le Jardin Musical » à 18h au 11 place d’Armes à Fontainebleau.
                    Le site Web a été créé et mis en ligne par les élèves de Terminale STMG (SIG) du Lycée Uruguay France..</p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div>

<!-- ******** NOTRE EQUIPE ******** -->

<div class="container">
    <div class="row-equipes">
        <div class="col-md-5">
            <h1 class="title-equipe">Notre équipe</h1>
            <div class="flotte">
                <img class="img-responsive" src="{{ asset('bundles/cms/images/logo.png') }}" width="350">
            </div>
            <p class="p-equipe">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>

    </div><!--/row -->
</div>

<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
</div>



<!-- ******** APPEL AU MENU DEROULANT ******** -->

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}