{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset ('bundles/cms/css/jquery.fancybox.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/cms/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/slider_accueil.css') }}">
{% endblock %}

{% block body %}

    <style>
        iframe{
            width:300px !important;
            height: 200px !important;
        }
    </style>

    <div class="container-fluid">
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <div class="row">
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('accueil_edit', { 'id': accueil.id }) }}">Editer la page d'accueil</a>
                </div>
            </div>
        {% endif %}
        <!-- ******** CAROUSSEL ******** -->
        <div class="row carousel_jdd">
            <div class="section">
                <div class="col-md-12">
                    <h1>{{ accueil.titre }}</h1>
                    <div id="slider" style="height: 300px;">
                        {% for artiste in artistes %}
                                <div class="aligner-item" style="width: 200px !important; margin-right: 5px; ">
                                    <img style="max-height:300px !important; width: 100% !important;" src="{{ asset('uploads/imgcms/' ~ artiste.image) }}">
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

            <!-- ******** TEXTE PRESENTATION ******** -->

        <div class="row home_presentation">
            <div class="section">
                <div class="col-md-4 home_contenu">
                    <h4 class="">{{ accueil.premiertitre }}</h4>
                    <p class="contentHome">{{ accueil.premiercontenu }}</p>
                    <a class="enSavoitPlusAccueil" href="{{ path('user_apropos') }}">
                        En savoir plus sur l'association...
                    </a>
                </div>
                <div class="col-md-4 home_contenu">
                    <h4 class="">{{ accueil.deuxiemetitre }}</h4>
                    <p class="contentHome">{{ accueil.deuxiemecontenu }}</p>
                    <a class="enSavoitPlusAccueil" href="{{ path('calendar_homepage') }}">
                        En savoir plus sur nos évènements...
                    </a>
                </div>
                <div class="col-md-4 home_contenu">
                    <h4 class="">{{ accueil.troisiemetitre }}</h4>
                    <p class="contentHome">{{ accueil.troisiemecontenu }}</p>
                    <a class="enSavoitPlusAccueil" href="{{ path('user_commercant') }}">
                        En savoir plus sur nos commerçant...
                    </a>
                </div>
            </div><!--/row -->
        </div>

        <!-- ******** NOTRE EQUIPE ******** -->
        <div class="row home_equipe">
            <div class="col-md-4 col-xs-6 vcenter">
                <a href="{{ asset('uploads/imgcms/' ~ accueil.image) }}" data-fancybox>
                    <img src="{{ asset('uploads/imgcms/' ~ accueil.image) }}">
                </a>
            </div>
            <div class="col-md-4 col-xs-6 vcenter">
                <a href="{{ asset('uploads/img_equipe/' ~ accueil.image2) }}" data-fancybox>
                    <img src="{{ asset('uploads/img_equipe/' ~ accueil.image2) }}">
                </a>
            </div>
            <div class="col-md-4 col-xs-6 vcenter">
                {{ accueil.videoLink|raw }}
            </div>
        </div>

        <div class="text-center">
            <p>{{ accueil.contenu|raw|nl2br }}</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cms/js/jquery.fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cms/slick/slick.js') }}"></script>
    <script>
        $(document).ready(function(){
            slideHome();
            showTexte(600, 'contentHome');
            $("[data-fancybox]").fancybox({
                // Options will go here
            });
        });
    </script>
{% endblock %}