{% extends 'base.html.twig' %}

{% block body %}
<div class="partenaires">
    <div class="col-md-3">
        <img class="droite" style="width: 200px;height: 200px; margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/aiglenoir.jpeg') }}" alt="jeuxdedames">
    <div class="col-md-6">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/aiconcept.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-9">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px; " src="{{ asset ('bundles/cms/images/partenaires/alizevoyage.gif') }}" alt="jeuxdedames">
    </div>
</div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/axa.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/balouzat.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/boudoirdejeanne.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/cario.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/dessange.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/equation.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/fb.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/hotelfontai.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/lud.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/nounproject.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/paullamotte.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/thomascook.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/tiamo.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/torrefaction.png') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" style="width: 200px; height: 200px;  margin-bottom: 15px;" src="{{ asset ('bundles/cms/images/partenaires/victoria.jpeg') }}" alt="jeuxdedames">
    </div>
</div>

<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
    </div>

{% endblock %}