{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('partenaire_new') }}">Ajouter un nouveau partenaire</a>
                    <a class="btn btn-default edit_admin" href="{{ path('partenaire_index') }}">Administrer les partenaires</a>
                </div>
            {% endif %}
        </div>
        <div class="title_section">
            <h2>Partenaires</h2>
        </div>

        {% for partenaire in partenaires %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="row">
                    <figure class="snip1239">
                        <img src="{{ asset('uploads/imgcms/') }}{{ partenaire.image }}"/>
                        <figcaption>
                            <p>{{ partenaire.adresse }}</p>
                            {% if (partenaire.lien != null) %}
                            <a href="{{ partenaire.lien | external_link }}" target="_blank" class="read-more">En savoir plus</a>
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <div class="row">
                        <div class="edit_admin">
                            <a class="btn btn-default edit_admin" href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">Editer</a>
                            <a class="btn btn-default edit_admin confirmModalLink" href="{{ path('partenaire_delete', {'id':  partenaire.Id  }) }}" title="Supprimer">Supprimer</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {#   MODAL   #}
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer ce partenaire ?</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn" id="confirmModalNo" name="non" value="Non">
                            <input type="button" class="btn" id="confirmModalYes" name="oui" value="Oui">
                        </div>
                    </div>
                </div>
            </div>
            {#   MODAL   #}

        {% endfor %}
    </div>
    {#   MODAL   #}
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet artiste ?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" id="confirmModalNo" name="non" value="Non">
                    <input type="button" class="btn" id="confirmModalYes" name="oui" value="Oui">
                </div>
            </div>
        </div>
    </div>
    {#   MODAL   #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        $(document).ready(function () {
            var theHREF;
            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#confirmModal").modal("show");
            });
            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("hide");
            });
            $("#confirmModalYes").click(function(e) {
                window.location.href = theHREF;
            });
        });
    </script>
{% endblock %}