{% extends 'base.html.twig' %}
{% block body %}
    <H1>Presse !</H1>
    {% for presse in presses %}
    <p>{{ presse.nom }}</p>
    <img src="{{ asset('uploads/imgcms/') }}{{ presse.image }}"/>
    <p>{{ presse.texte }}</p>
    <p>{{ presse.date|date("m/d/Y") }}</p>
    {% endfor %}
    <div class="row">
        <a href="{{ path('presse_new') }}">Créer une nouvelle entrée.</a>
    </div>
{% endblock %}
