{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        footer{
            position: fixed;
            width: 100%;
            bottom: 0px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="admin">
        <h1>Interface d'administration</h1>
        <div class="container">
            <div class="btn-group" role="group">
                <a href="{{ path('cms_homepage') }}" type="button" class="btn btn-default">Editez la page d'accueil</a>
                <a href="{{ path('admin_equipe_index') }}" type="button" class="btn btn-default">Administrer l'équipe</a>
                <a href="{{ path('artiste_index') }}" type="button" class="btn btn-default">Administrer les artistes</a>
                <a href="{{ path('categorie_index') }}" type="button" class="btn btn-default">Administrer les catégories</a>
                <a href="{{ path('commercant_index') }}" type="button" class="btn btn-default">Administrer les commerçants</a>
                <a href="{{ path('partenaire_index') }}" type="button" class="btn btn-default">Administrer les partenaires</a>
                <a href="{{ path('presse_index') }}" type="button" class="btn btn-default">Administrer la presse</a>
                <a href="{{ path('user_apropos') }}" type="button" class="btn btn-default">Editer la section à propos</a>
                <a href="{{ path('admin_youtube_index') }}" type="button" class="btn btn-default">Administrer les videos</a>
                <a href="{{ path('newsletter_index') }}" type="button" class="btn btn-default">Newsletter</a>
                <a href="{{ path('newsletter_index') }}" type="button" class="btn btn-default">Application mobile</a>
            </div>
        </div>

    </div>

{% endblock %}