{% extends 'base.html.twig' %}

{% block body %}

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

    <h1>Modifier la page à propos</h1>

    <div class="container-fluid">
        {{ form_start(edit_form) }}

        <div class="container">
            <div class="row">
                <p class="">Introduction</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(edit_form.introduction) }}
                    {{ form_errors(edit_form.introduction) }}
                </div>
            </div>
            <div class="row">
                <p class="">Email de contact</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{ form_widget(edit_form.emailcontact, {'attr': {'class': 'form-control', 'placeholder': 'Email de contact'}}) }}
                    {{ form_errors(edit_form.emailcontact) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="edit_admin">
                <input class="btn btn-default edit_admin"  type="submit" value="Modifier" />
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
